<!DOCTYPE html>
<html>
<head>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<style>

	.container {
		width: 1025px;
		margin: 0 auto;
		padding: 0 10px;
	}
	
    .btn {
    	margin-top:20px;
        background-color: #4D7E9A;
    }
    
    .main-header {
        margin: 0;
        padding:0;
        height: 50px;
        background: #4D7E9A;
    }
</style>
{% load crispy_forms_tags %}
{% block content %}
<body>
	
	<header class="main-header">     
	</header>
	<div class="row" style="margin-bottom:300px;margin-top:180px;">
		<div class="col-md-6 offset-md-3">
		<h3 class="text-center">Registration</h3>
		<hr>
		<form action="" method="POST">
			{% csrf_token %}
			{{ form|crispy }}
			<input type="submit" class="btn btn-primary" value="Get started!">
		</form>
		</div>
	</div>

{% endblock %}

</body>
</html>